<div class="home-content">

  <section class="hero-content">
    <h3 class="first-text">We are talking more than ever but we are not speaking to each other</h3>
    <h3 class="second-text">Post brexit we need to learn to listen to one another</h3>
  </section>
  <section class="home-info">
    <img src="./screenshot1.png"></img>
    <img src="./screenshot2.png"></img>
    <img src="./screenshot3.png"></img>
  </section>
  <section class="home-hook">
  </section>
<% if user_signed_in? %>
<button type="button">Popmy bubble</button>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
<% end %>
</div>
